.container{
    flex: 2;
}

.subtitle{
    color: gary;
    font-size: 16px;
    font-weight:400 ;
    margin-top: 50px;

}

.title{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
   


.items{
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;

}

.item{
    display: flex;
    align-items: center;
    gap: 20px;

}

.imageContainer{
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
}

.image{
    border-radius: 50%;
    border: 3px solid lightgrey;
    object-fit: cover;

}

.textContainer{
    flex: 4;
    display: flex;
    flex-direction: column ;
    gap: 5px;
}

.category{
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
    margin-right: 10px;
    height: 20px;
}

.category.travel{
    background-color: orange;
}


.postTitle{
    font-size: 18px;
    font-weight: 500;
    color: var(--softTextColor);
}

.detail{
    font-size: 12px;
}
.date{
    color:gray;
}


.category.style{
    background-color: #FFBE98;
}

.category.fashion{
    background-color: #8B93FF;
}
.category.food{
    background-color: #FFAF45;
}
.category.culture{
    background-color: #F7418F;
}
.category.travel{
    background-color: #4CCD99;
}
.category.technology{
    background-color: #008DDA;
}




@media screen and (max-width: 1024px){
    
    .container{
        display: none;
    }
    
    
}