.container{
    margin: bottom 50px;
    display: flex;
    align-items: center;
    gap: 100px;

}

.imageContainer{
    flex:1;
    height: 350px;
    position: relative;
    margin:20px 0px;
}

.textContainer{
    flex: 1;
}

.image{
    object-fit: cover;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.date{
    color: gray;
    margin-bottom: 35px;
}

.category{
    color: rgb(220, 157, 20);
    font-weight: 500;
    margin-top: 35px;
}

.desc{
    font-size: 18px;
    font-weight: 300;
    color:var(--softTextColor)
}

.link{
    border-bottom: 1px solid crimson;
    width: max-content;
    padding: 2px 0px;
    margin-bottom: 30px;
}